.graph {
  width: 400px;
  height: 300px;
}

/* Bar Chart Example */
.bar-chart .bar {
  fill: #4caf50;
}

.bar-chart .bar.positive:hover {
  fill: darkgreen;
}
.bar-chart .bar.negative:hover {
  fill: darkred;
}
.bar-chart .bar.negative {
  fill: tomato;
}


/* Line Chart Example */
.line-chart .line {
  stroke: #2196f3;
  stroke-width: 2px;
  fill: none;
}

/* Pie Chart Example */
.pie-chart .slice {
  fill: orange;
  stroke: #fff;
  stroke-width: 2px;
}
